BasedOnStyle: LLVM

Language: C

# General
ColumnLimit: 80
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 4
IndentCaseLabels: true

# Allman braces everywhere
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# Classes
AccessModifierOffset: -2
EmptyLineAfterAccessModifier: Always
EmptyLineBeforeAccessModifier: Always

# Pointer/reference style
PointerAlignment: Right
ReferenceAlignment: Right

# Includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

# Templates
SpaceAfterTemplateKeyword: false

# Functions
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: false
BinPackArguments: true
BinPackParameters: true

# Constructors
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

# Enums
AllowShortEnumsOnASingleLine: false

# Namespaces
NamespaceIndentation: None
CompactNamespaces: false

# Comments
ReflowComments: true
AlignTrailingComments: true

# Preprocessor
IndentPPDirectives: AfterHash

# Modern C++
AllowShortLambdasOnASingleLine: None
Cpp11BracedListStyle: false

# Keep readability
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true

# Misc
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInContainerLiterals: false
